/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-bottom: 3px solid #2c3e50;
}

.logo{
    font-size: 28px;
    font-weight: 700;
}

.news-logo{
    height: 50px;
}


/* BLOG */
.container{
    display: flex;
    gap: 50px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* FORMULARIO NOTICIA */

.formulario-noticia {
    flex: 1;
}

.formulario-noticia form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario-noticia input,
.formulario-noticia textarea {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}

.formulario-noticia button {
    margin-top: 10px;
    padding: 8px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.error-campo {
    color: #c0392b;
    font-size: 12px;
    margin: 2px 0 8px;
}

/* LISTADO NOTICIAS */
.listado-noticias {
    flex: 2;
    max-width: 75%;
}

.noticia {
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.noticia img {
    margin: 8px 0;
    border-radius: 4px;
    max-width: 100%;
}

/* FOOTER */
.footer{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    border-top: 3px solid #2c3e50;
    width: 100%;
}

.footer-logo{
    justify-content: left;
    height: 35px;
}

.footer-logo p{
    color: #555;
    font-size: 16px;
    font-weight: 500;
}

.footer-socials{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 35px;
    margin-right: 50px;
}

.footer-socials a{
    text-decoration: none;
    color: #444;
    font-size: 14px;
    font-weight: 500;
}

.footer-socials a:hover{
    color: #000;
}